
  .navbar-brand>img {
    max-height: 100%;
    height: 50px;
    border-radius: 50%;
    /* firefox bug fix */
    width: 50px;
  }

  .fieldDiv{
    border: #281c97;
    border-style: solid;

  }

  .svg-section{
    border: #281c97;
    border-style: solid;

  }


  .slidecontainer {
    width: 100%;
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    /* R: 207 G: 219 B: 219 */
    background: rgb(207, 219, 219);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* R: 138 G: 140 B: 191 */
    background: #4CAF50;
    background: rgb(138, 140, 191);
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    background: rgb(138, 140, 191);
    cursor: pointer;
  }



  /***   for time series       ***/
  .axis text {
    font: 10px sans-serif;
  }
  .chartTitle {
    font-size: 18px;
    text-anchor: middle; 
    padding-bottom: 10px;
  }
  .axis .title {
    font-weight: bold;
    text-anchor: middle;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .x.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .nav .area {
    stroke: darkgrey;
    stroke-width: 0px;
  }
  .nav .line {
    fill: none;
    stroke: darkgrey;
    stroke-width: 1px;
  }
  .viewport {
    stroke: grey;
    fill: black;
    fill-opacity: 0.3;
  }
  .viewport .extent {
    fill: green;
  }
  .well {
    padding-top: 0px;
    padding-bottom: 0px;
  }


  /***          ***/